
/arch/
/board/
/boot/
/build/
/dl
/docs/
/downloads
/fs/
/linux/
/output/
/project/
/toolchain
/scripts/
/support
/system/
/.*
!/.gitignore
/Config.in
/Config.in.legacy
/Makefile
/Makefile.legacy
/TODO
/CHANGES
/COPYING
/README

*.depend
*.o
*.orig
*~

