# pinout 
NET "clk"  LOC = "N9" | DRIVE=12 |IOSTANDARD = LVCMOS33 ; #CLK0
NET "led"  LOC = "C16" | DRIVE=12 |IOSTANDARD = LVCMOS33 ; #IO_L24P_1
NET "button"  LOC = "C15" | DRIVE=12 | IOSTANDARD = LVCMOS33 ; #IO_L24N_1
