# Constraint file for BRAMTest
NET "ClkxCI" TNM_NET = "ClkxCI";
TIMESPEC "TS_ClkxCI" = PERIOD "ClkxCI" 10 ns HIGH 50 %;
NET "ClkxCI" LOC="N9" | IOSTANDARD=LVCMOS18;# CLK0

# data bus
NET "DataxD<0>"  LOC="T5" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA0
NET "DataxD<1>"  LOC="T6" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA1
NET "DataxD<2>"  LOC="P7" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA2
NET "DataxD<3>"  LOC="N8" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA3
NET "DataxD<4>"  LOC="P12"| DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA4
NET "DataxD<5>"  LOC="T13"| DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA5
NET "DataxD<6>"  LOC="R13"| DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA6
NET "DataxD<7>"  LOC="T14"| DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA7
NET "DataxD<8>"  LOC="P5" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA8
NET "DataxD<9>"  LOC="N6" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA9
NET "DataxD<10>" LOC="T3" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA10
NET "DataxD<11>" LOC="T11"| DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA11
NET "DataxD<12>" LOC="T4" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA12
NET "DataxD<13>" LOC="R5" | DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA13
NET "DataxD<14>" LOC="M10"| DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA14
NET "DataxD<15>" LOC="T10"| DRIVE=8 | IOSTANDARD=LVCMOS18; # DATA15

# address bus
NET "AddrxDI<1>"  LOC="N5" | IOSTANDARD=LVCMOS18; # ADDR1
NET "AddrxDI<2>"  LOC="L7" | IOSTANDARD=LVCMOS18; # ADDR2
NET "AddrxDI<3>"  LOC="M7" | IOSTANDARD=LVCMOS18; # ADDR3
NET "AddrxDI<4>"  LOC="M8" | IOSTANDARD=LVCMOS18; # ADDR4
NET "AddrxDI<5>"  LOC="L8" | IOSTANDARD=LVCMOS18; # ADDR5
NET "AddrxDI<6>"  LOC="L9" | IOSTANDARD=LVCMOS18; # ADDR6
NET "AddrxDI<7>"  LOC="L10"| IOSTANDARD=LVCMOS18; # ADDR7
NET "AddrxDI<8>"  LOC="M11"| IOSTANDARD=LVCMOS18; # ADDR8
NET "AddrxDI<9>"  LOC="P11"| IOSTANDARD=LVCMOS18; # ADDR9
NET "AddrxDI<10>" LOC="N11"| IOSTANDARD=LVCMOS18; # ADDR10
# not used for BRAMTest
#NET "AddrxDI<11>" LOC="N12"| IOSTANDARD=LVCMOS18; # ADDR11
#NET "AddrxDI<12>" LOC="P13"| IOSTANDARD=LVCMOS18; # ADDR12

# controls signals
NET "CSxBI" LOC="P10"| IOSTANDARD=LVCMOS18; # CS5N
NET "WRxBI" LOC="P9" | IOSTANDARD=LVCMOS18; # EB0N
NET "RDxBI" LOC="R9" | IOSTANDARD=LVCMOS18; # OEN
#end
